<h1>Welcome to MATBay Δ</h1>

@if (deltaAuth.isAuthenticated() | async) {
  Hello {{ currentUser?.displayName }} ({{ currentUser?.username }}), you have been authenticated by Auth0 and the Δ
  server. <br />
  <img [src]="currentUser?.imageURL" width="250" height="250" alt="photo de profil de {{ currentUser?.imageURL }}" />
  "{{ currentUser?.description }}"
  <app-current-user-form></app-current-user-form>
  <hr />
  <app-constitution-form></app-constitution-form>
  <hr />
  <h2>Constitutions</h2>
  @for (constitution of constitutions.getAll(); track $index) {
    <div>
      <h3>{{ $index }} - {{ constitution.name }} (id : {{ constitution.id }})</h3>
      <hr />
      <p>Description : {{ constitution.description }}</p>
      <p>Owner: {{ (users.getUser(constitution.owner) | async)?.displayName }}</p>
      <p>Number of songs: {{ constitution.songConstitution.length }} / {{ getMaxNSongs(constitution) }}</p>
      <h3>Participants</h3>
      @for (userConstitution of constitution.userConstitution; track $index) {
        <p>
          Participant {{ $index + 1 }} :
          @if (users.getUser(userConstitution.user) | async; as user) {
            <img [src]="user.imageURL" width="25" height="25" alt="photo de profil de {{ user.imageURL }}" />
            {{ user.displayName }}
            ({{ getUserSongCount(constitution, user.id) }} / {{ constitution.nSongs }} songs)
          }
        </p>
      }
      <h3>Songs</h3>
      @for (songConstitution of constitution.songConstitution; track $index) {
        @if (
          {
            song: songs.getSong(songConstitution.song) | async,
            user: users.getUser(songConstitution.user) | async,
          };
          as observers
        ) {
          @if (observers.song && artists.getArtist(observers.song.primaryArtist) | async; as artist) {
            <p>
              Song {{ $index + 1 }} : {{ observers.song?.title }} (id: {{ observers.song?.id }}) from
              @for (songArtist of getSongArtists(observers.song); track $index) {
                {{ (artists.getArtist(songArtist.artist) | async)?.name }} (as {{ songArtist.contribution }})
              }
              added by
              <img
                [src]="observers.user?.imageURL"
                width="25"
                height="25"
                alt="photo de profil de {{ observers.user?.imageURL }}"
              />
              {{ observers.user?.displayName }}
              @for (source of observers.song?.songSource; track $index) {
                Link: {{ source.platform }}:{{ source.sourceID }}
              }
            </p>
          }
        }
      }
      @if (constitution.songConstitution.length === 0) {
        No song.
      }
      @if (getUserSongCount(constitution, currentUser?.id) >= constitution.nSongs) {
        You have added all your songs
      } @else {
        <app-add-song-form [constitution]="constitution.id"></app-add-song-form>
      }
      <div>
        <button (click)="constitutions.join(constitution.id)">Join constitution</button>
        <button (click)="constitutions.leave(constitution.id)">Leave constitution</button>
      </div>
    </div>
  }
  <button (click)="deltaAuth.logout()">Log out</button>
} @else {
  Please log in with your TableauBits account to access the app. <br />
  <button (click)="deltaAuth.login()">Log in</button>
}

<p>version: {{ version.fullString() }};</p>
