<h1>Current constitutions</h1>
@for (cstID of currentConstitutions; track $index) {
  @if (constitutions.get(cstID) | async; as constitution) {
    <div>
      <h2>{{ $index }} - {{ constitution.name }} (id : {{ constitution.id }})</h2>
      <hr />
      <p>Description : {{ constitution.description }}</p>
      @if (users.get(constitution.owner) | async; as owner) {
        <p>
          Owner: <img [src]="owner.imageURL" width="25" height="25" alt="photo de profil de {{ owner.imageURL }}" />
          {{ owner.displayName }}
        </p>
      }
      @if (isParticipant(constitution)) {
        <button (click)="redirectToConstitutionPage(constitution.id)">See constitution</button>
      } @else {
        <button (click)="joinConstitution(constitution.id)">Join constitution</button>
      }
    </div>
  }
}
