@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

$primary: #673ab7;
$primary-dark: #393346;
$secondary: #dbaeff;
$secondary-dark: #ab9fc0;
$background: #0e0e0e;
$surface: #181719;
$text: #ffffff;

$magenta: #a834ac;
$pink: #e750ad;
$rose: #ef547b;
$orange: #f75748;
$yellow: #fed057;

$radial-colorful-gradient:
  linear-gradient(0deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%),
  radial-gradient(797.62% 50% at 50% 50%, $primary 0%, $pink 34.5%, $orange 67%, $yellow 100%);

$stroke-radial: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.5) 10%, rgba(153, 153, 153, 0) 100%);

$font-family-base: 'Rubik', sans-serif;

:root {
  font-family: $font-family-base;
}

body {
  background-color: $background;
  color: $text;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;

  // For now just uses a static image, but we can use svgs for more dynamic backgrounds in the future
  background-image: url(./app/assets/frame.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  height: 100vh;
}

body > * {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

footer {
  margin-top: auto;
  color: rgba($text, 0.3);
  font-size: 0.75rem;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

.colorful-text {
  background: radial-gradient(50% 50% at 50% 50%, $primary 0%, $pink 48%, $orange 83%, $yellow 100%);
  mix-blend-mode: plus-lighter;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.madimi-one {
  font-family: 'Madimi One';
  font-size: 115%;
}

.glass-box {
  color: $text;

  border-radius: 4rem;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(25px);
  background-color: transparent;

  border: 1px solid rgba($text, 0.5);
  border-bottom-color: rgba($secondary-dark, 0.3);
  border-right-color: rgba($secondary-dark, 0.3);

  padding: 0.5rem 1.25rem;
  margin: 0.5rem;
}

button,
.button {
  @extend .glass-box;
  color: rgba($text, 0.9);
  font-family: $font-family-base;
  font-size: 1rem;

  display: flex;
  padding: 0.5rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  cursor: pointer;

  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: rgba($text, 0.05);
    color: $text;
    text-shadow: 0 0 5px rgba($text, 0.3);
  }

  &.colorful-border {
    position: relative;
    border: 1px solid transparent;
    background: radial-gradient(
      1008.57% 60.91% at 53.04% 50%,
      rgba(255, 227, 155, 0.05) 0%,
      rgba(254, 208, 87, 0.05) 0.01%,
      rgba(247, 87, 72, 0.05) 52.4%,
      rgba(231, 80, 173, 0.05) 100%
    );
    background-clip: padding-box;
    transition: all 0.2s ease-in-out;

    &:hover {
      background: radial-gradient(
        1008.57% 60.91% at 53.04% 50%,
        rgba(255, 227, 155, 0.1) 0%,
        rgba(254, 208, 87, 0.1) 0.01%,
        rgba(247, 87, 72, 0.1) 52.4%,
        rgba(231, 80, 173, 0.1) 100%
      );
    }

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: 4rem;
      padding: 1px;
      background: $radial-colorful-gradient;
      -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      pointer-events: none;
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: max-content;

  label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
  }

  input[type='text'],
  input[type='password'],
  input[type='number'],
  textarea {
    border: 1px solid $primary-dark;
    border-radius: 4px;
    padding: 0.5em;
    background-color: $surface;
    color: $text;

    &:focus {
      outline: none;
      border-color: $primary;
    }
  }
}

hr {
  height: 2px;
  flex-shrink: 0;
  border: 0;
  background: $stroke-radial;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 2rem;
  margin: 2rem;
  padding: 1rem;
}
