<div>
  <h2>Update user infos</h2>
  <form [formGroup]="form">
    <label>
      Display Name:
      <input
        type="text"
        formControlName="displayName"
        placeholder="Display Name"
      />
    </label>
    <label>
      Description:
      <input
        type="text"
        formControlName="description"
        placeholder="Description"
      />
    </label>
    <label>
      Image URL:
      <input type="text" formControlName="imageURL" placeholder="Image URL" />
    </label>
  </form>
  <button (click)="onSubmit()">Update your infos</button>
</div>
