name: Validate code to be merged

on:
  pull_request:
    branches:
      - main

jobs:
  check_lint_format:
    name: Check linter and formatter
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Bun
        uses: oven-sh/setup-bun@v2
      - name: Validate backend code
        run: |
          cd backend
          bun install
          bun ci
      - name: Validate frontend code
        run: |
          cd frontend
          bun install
          bun lint
          bun run build --configuration template

  check_migrations:
    name: Check migrations
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Bun
        uses: oven-sh/setup-bun@v2
      - name: Check if new migrations can be generated
        run: |
          cd backend
          bun install
          bun x drizzle-kit generate
          git diff --exit-code drizzle
