@use '../../../../styles.scss' as *;

.test-page {
  width: 500px;
  max-width: 90vw;
}

.test-section {
  width: 100%;
}

.selection-info {
  margin-top: 0.5em;
  font-size: 0.9rem;
  opacity: 0.8;
}

.badge-new-inline {
  color: $primary;
}

.badge-existing-inline {
  color: $secondary-dark;
}
